*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Proxima-Nova);
  font-size: 18px;
  background-color: var(--GHOST-WHITE);
  color: var(--DARK-CHARCOAL);
}

.container {
  max-width: 1358px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Novel Mono Pro";
  src: url("/fonts/novel-mono-pro/NovelMonoPro-Regular.woff2") format("woff2"), url("/fonts/novel-mono-pro/NovelMonoPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Novel Mono Pro";
  src: url("/fonts/novel-mono-pro/NovelMonoPro-SemiBold.woff2") format("woff2"), url("/fonts/novel-mono-pro/NovelMonoPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2"), url("/fonts/proxima-nova/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2"), url("/fonts/proxima-nova/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BelyDisplay";
  src: url("/fonts/Bely-Display/BelyDisplayW00-Regular.woff2") format("woff2"), url("/fonts/Bely-Display/BelyDisplayW00-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2"), url("/fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --Nove-Mono-Pro: "Novel Mono Pro", sans-serif;
  --Proxima-Nova: "Proxima Nova", sans-serif;
  --BelyDisplay: "BelyDisplay", sans-serif;
  --Inter: "Inter", sans-serif;
  --DARK-CHARCOAL: #303031;
  --GRANITE-GRAY: #66645E;
  --GREEN-SHEEN: #71A894;
  --ISABELLINE: #F3F0EA;
  --WHITE: #FFFFFF;
  --CRAYOLAS-MAIZE: #F5C64F;
  --GHOST-WHITE: #F9F9F9;
  --ETON-BLUE: #81BFA8;
  --GRAY: #807E76;
}

.header {
  padding: 40px 0 60px;
  position: relative;
}

.header__row {
  align-items: center;
  justify-content: space-between;
}

.header--logo img {
  width: 281px;
  height: 43px;
  display: block;
}

.header__nav {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__nav.header__nav--active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--GREEN-SHEEN);
  height: 100vh;
  width: 360px;
  padding: 120px 60px 0 0;
}
.header__nav.header__nav--active .header__nav--link {
  display: block;
  text-align: right;
  font-weight: 700;
  color: var(--DARK-CHARCOAL);
  margin-bottom: 40px;
  transition: opacity 0.2s ease;
}
.header__nav.header__nav--active .header__nav--link:hover {
  opacity: 0.8;
}

.header__nav--link {
  font-weight: 400;
  font-size: 20px;
  transition: color 0.2s ease-in;
}
.header__nav--link:hover {
  color: var(--GREEN-SHEEN);
}
.header__nav--link.active {
  font-weight: 700;
  color: var(--GREEN-SHEEN);
}

.header__menubtn {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header__menubtn path {
  transition: opacity 0.2s ease;
}
.header__menubtn:hover path {
  opacity: 0.8;
}

.header__menubtn--close {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header__nav {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header--logo img {
    width: 240px;
    height: 37px;
  }
  .header__nav--link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__menubtn {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */