*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Proxima-Nova);
    font-size: 18px;
    background-color: var(--GHOST-WHITE);
    color: var(--DARK-CHARCOAL);
}
.container {
    max-width: 1358px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.hidden {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
    font-family: var(--Proxima-Nova);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--WHITE);
    padding: 20px 24px;
    border-radius: 8px;
    background-color: var(--GREEN-SHEEN);
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
@media only screen and (max-width: 1366px) {
    .container {
        max-width: 1275px;
    }
}