:root {
    // font-family
    --Nove-Mono-Pro: 'Novel Mono Pro', sans-serif;
    --Proxima-Nova: 'Proxima Nova', sans-serif;
    --BelyDisplay: 'BelyDisplay', sans-serif;
    --Inter: 'Inter', sans-serif;

    // colors 
    --DARK-CHARCOAL: #303031;
    --GRANITE-GRAY: #66645E;
    --GREEN-SHEEN: #71A894;
    --ISABELLINE: #F3F0EA;
    --WHITE: #FFFFFF;
    --CRAYOLAS-MAIZE: #F5C64F;
    --GHOST-WHITE: #F9F9F9;
    --ETON-BLUE: #81BFA8;
    --GRAY: #807E76;
}