:root {
    // font-family
    --Nove-Mono-Pro: 'Novel Mono Pro', sans-serif;
    --Proxima-Nova: 'Proxima Nova', sans-serif;
    --BelyDisplay: 'BelyDisplay', sans-serif;
    --Inter: 'Inter', sans-serif;
}