.header {
    padding: 40px 0 60px;
    position: relative;
}
.header__row {
    align-items: center;
    justify-content: space-between;
}
.header--logo {
    & img {
        width: 281px;
        height: 43px;
        display: block;
    }
}
.header__nav {
    column-gap: 40px;
}
.header__nav--link {
    font-weight: 400;
    font-size: 20px;
    transition: color .2s ease-in;

    &:hover {
        color: var(--GREEN-SHEEN);
    }

    &.active {
        font-weight: 700;
        color: var(--GREEN-SHEEN);
    }
}
.header__menubtn {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    & path {
        transition: opacity .2s ease
    }

    &:hover {
        path {
            opacity: .8;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .header__nav {
        column-gap: 20px;
    }
    .header--logo img {
        width: 240px;
        height: 37px;
    }    
    .header__nav--link {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px) {
    .header__nav {
        display: none;

        &.header__nav--active {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--GREEN-SHEEN);
            height: 100vh;
            width: 360px;
            padding: 120px 60px 0 0;
    
    
            & .header__nav--link {
                display: block;
                text-align: right;
                font-weight: 700;
                color: var(--DARK-CHARCOAL);
                margin-bottom: 40px;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .header__menubtn {
        display: block;
    }
}