.info {
    padding-top: 160px;
}
.info__row {
}
.info__founders {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.founders__content {
    max-width: 644px;
}
.founder__content--icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
}
.founders__box {
    max-width: 484px;
    width: 100%;
    min-height: 400px;
    background-color: var(--GREEN-SHEEN);
    border-radius: 16px;
}
.founders__box--inner {
    transform: translate(-16px, -16px)
}
.founders__box--subtitle {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--DARK-CHARCOAL);
    margin-bottom: 32px;
}
.founders__box--list {
    list-style: none;
}
.founders__list--item {
    display: flex;
    align-items: center;
    column-gap: 16px;

    & + * {
        margin-top: 24px;
    }
}
.founders__item--picture {
    width: 72px;
    height: 72px;
}
.founders__item--name {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.32px;
    margin-bottom: 4px;
}
.founder__item--numberofshares {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
    color: var(--GRANITE-GRAY);
}

.info__investors {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.investors__box {
    max-width: 484px;
    font-family: var(--Nove-Mono-Pro);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.investors__box--person {
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
}
.investor__person--picture {
    width: 72px;
    height: 72px;
}
.investors__person--name {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
}
.investors__person--direction {
    font-size: 16px;
}
.investors__box--desc {
    margin-bottom: 24px;
    font-size: 16px;
}
.investors__box--action {
    display: flex;
    gap: 74px;
    margin-bottom: 32px;
}
.investors__commit--subtitle,
.investors__shares--subtitle {
    font-weight: 400;
    margin-bottom: 12px;
}
.investors__commit--amount,
.investors__shares--amount {
    font-weight: 600;
}
.investors__box--btn {
    width: 100%;
    text-align: center;
    transition: opacity ease .2s;

    &:hover {
        opacity: .9;
    }
    &:active {
        opacity: 1;
    }
}
.investors__content {
    max-width: 644px;
}