.info {
    padding-top: 160px;
}

// info__founder
.info__founders {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.founders__content {
    max-width: 644px;
}
.founder__content--icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
}
.founders__box {
    max-width: 484px;
    width: 100%;
    min-height: 400px;
    background-color: var(--GREEN-SHEEN);
    border-radius: 16px;
}
.founders__box--inner {
    transform: translate(-16px, -16px)
}
.founders__box--subtitle {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--DARK-CHARCOAL);
    margin-bottom: 32px;
}
.founders__box--list {
    list-style: none;
}
.founders__list--item {
    display: flex;
    align-items: center;
    column-gap: 16px;

    & + * {
        margin-top: 24px;
    }
}
.founders__item--picture {
    width: 72px;
    height: 72px;
}
.founders__item--name {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.32px;
    margin-bottom: 4px;
}
.founder__item--numberofshares {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
    color: var(--GRANITE-GRAY);
}

// info__investors
.info__investors {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.investors__box {
    max-width: 484px;
    font-family: var(--Nove-Mono-Pro);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.investors__box--person {
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
}
.investor__person--picture {
    width: 72px;
    height: 72px;
}
.investors__person--name {
    font-family: var(--Nove-Mono-Pro);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
}
.investors__person--direction {
    font-size: 16px;
}
.investors__box--desc {
    margin-bottom: 24px;
    font-size: 16px;
}
.investors__box--action {
    display: flex;
    gap: 74px;
    margin-bottom: 32px;
}
.investors__commit--subtitle,
.investors__shares--subtitle {
    font-weight: 400;
    margin-bottom: 12px;
}
.investors__commit--amount,
.investors__shares--amount {
    font-weight: 600;
}
.investors__box--btn {
    width: 100%;
    text-align: center;
    transition: opacity ease .2s;

    &:hover {
        opacity: .9;
    }
    &:active {
        opacity: 1;
    }
}
.investors__content {
    max-width: 644px;
}

// .info__contributors 
.info__contributors {
    justify-content: space-between;
}
.contributors__content {
    max-width: 644px;
}
.contributors__boxs {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 163px 312px;
    justify-items: center;
    column-gap: 12px;
    row-gap: 19px;
    max-width: 644px;
    width: 100%;
    font-family: var(--Nove-Mono-Pro);
    line-height: 24px;
    letter-spacing: 0.32px;
}
.contributors__boxs--share {
    grid-column: 1/3;
    justify-self: center;
    max-width: 560px;
    width: 100%;
    height: 164px;
    position: relative;
    padding: 24px;
    margin-bottom: 24px;

    &::before {
        content: '';
        max-width: 544px;
        width: 100%;
        height: 164px;
        position: absolute;
        top: 3px;
        left: 4px;
        border-radius: 16px;
        background-color: var(--GREEN-SHEEN);
        z-index: -1;
    }
}
.contributers__share--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.contributors__share--subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.contributors__share--desc {
    max-width: 427px;
    font-size: 16px;
    font-weight: 400;
}
.contributors__boxs--applicants {
    max-width: 381px;
    width: 100%;
    background-color: var(--ISABELLINE);
}
.contributors__applicants--subtitle {
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}
.applicants__list--item {
    display: flex;
    align-items: center;
}
.applicants__list--item + *{
    margin-top: 24px;
}
.applicants__item--picture {
    width: 40px;
    height: 40px;
}
.applicants__item--name {
    font-weight: 600;
    margin-left: 16px;
    font-size: 20px;
}
.applicants__item--rating {
    margin-left: auto;
}
.applicants__rating--number {
    font-weight: 600;
    font-size: 20px;
}
.contributors__box--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    width: 100%;
    padding: 24px;
    border-color: var(--GREEN-SHEEN);
}
.contributors__profile--picture {
    border-radius: 50px;
    margin-bottom: 16px;
}
.contributors__profile--name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}
.contributors__profile--profession {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
.contributors__profile--commits {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}
.contributors__commit--text {
    font-size: 16px;
}
.contributors__commit--ratingIcon {
    margin-left: auto;
}
.contributors__commit--rating {
    font-size: 20px;
}
.contributors__profile--btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 32px;
}
@media  screen and (max-width: 1366px) {
    .founders__content,
    .investors__content,
    .contributors__content {
        max-width: 590px;
    }
    .founders__box {
        max-width: 470px;
    }
    .investors__box {
        max-width: 465px;
    }
}
@media  screen and (max-width: 1292px) {
    .info__founders ,
    .info__investors,
    .info__contributors {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 120px 120px;
    }
    .founders__content,
    .investors__content,
    .contributors__content {
        max-width: 644px;
        margin-bottom: 60px;
    }
    .investors__content {
        order: 1;
    }
    .investors__box {
        order: 2;
    }
    .contributors__boxs--share {
        justify-self: self-start;
    }
}
@media  screen and (max-width: 1024px) {
    .info__founders ,
    .info__investors,
    .info__contributors {
        margin: 0 0 120px 0;
    }
    .founders__box {
        margin-left: 16px;
    }
}
@media  screen and (max-width: 680px) {
    .contributors__boxs {
        grid-template-columns: auto;
        grid-template-rows: 163px 306px 174px;
        justify-items: flex-start;
    }
    .contributors__boxs--share {
        grid-column: 1/2;
        min-height: 163px;
    }
    .contributors__boxs--applicants {
        max-width: 560px;
    }
    .contributors__box--profile {
        display: grid;
        grid-template-columns: 82px auto auto;
        grid-template-rows: 36px 36px 44px;
        align-content: center;
        max-width: 560px;
    }
    .contributors__profile--picture {
        grid-row: 1/3;
        margin: 0;
    }
    .contributors__profile--name {
        margin: 0;
    }
    .contributors__profile--profession {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
    }
    .contributors__profile--commits {
        justify-content: flex-end;
        margin: 0;
    }
    .contributors__commit--ratingIcon {
        margin-left: 18px;
    }
    .contributors__profile--btn {
        grid-column: 1/3;
        grid-row: 3/4;
        max-width: 214px;
        margin-top: 22px;
    }
}